<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="your-integrity-here"
      crossorigin="anonymous"
    />
    <link rel="icon" href="logo.jpeg" type="image/x-icon" />
    <title>Home Page</title>
  </head>
  <body class="bg-gray-700">
    <%- include('navbar') %> <%- include('hero') %> <%- include('gradient') %>
    <%- include('services') %> <%- include('freelancing-platforms') %> <%-
    include('footer') %>
  </body>
</html>
